## __Leah Gerke__
### _Likes Report_
### _09/12/2024_
__Who or what is the source of your personal Instagram data? (you downloaded the data, but did you create it?)__
- I created my data through my activity on Instagram.

__Why was this data created and what purposes can the data serve?__
- My data is stored by Instagram and is used to create personalized ads, a customizable experience, and a history of activity that I can look back on whenever I need to.

__In what ways may this data be reliable?__
- When looking at my history of likes, comments, and shares on my posts and what I've left on others' posts, the data would be reliable in keeping track of that.

__In what ways may this data be unreliable?__
- Personalized ads only work if I'm still interested in what Instagram is choosing to present to me. If my interests change, Instagram's data would be unreliable in showcasing and keeping up with changes in my interests.

In [255]:
import pandas as pd
import json

In [256]:
path = r"C:\Users\lgerk\Downloads\instagram-leah.gerke-2024-09-12-coLtGm0R\your_instagram_activity\likes\liked_posts.json"
with open(path) as j:
    dict = json.load(j)

In [257]:
val = pd.DataFrame(dict)

In [258]:
val.head()

                                   likes_media_likes
0  {'title': 'oco.maryjane', 'string_list_data': ...
1  {'title': 'vivgwinn', 'string_list_data': [{'h...
2  {'title': 'estella.woodworth', 'string_list_da...
3  {'title': 'shopeverlore', 'string_list_data': ...
4  {'title': 'lizzajenkins_', 'string_list_data':...

In [259]:
dict.keys()

dict_keys(['likes_media_likes'])

In [260]:
val2 = pd.DataFrame(dict['likes_media_likes'])

In [261]:
val2.head()

               title                                   string_list_data
0       oco.maryjane  [{'href': 'https://www.instagram.com/p/C_zKAzc...
1           vivgwinn  [{'href': 'https://www.instagram.com/p/C_wfvI2...
2  estella.woodworth  [{'href': 'https://www.instagram.com/p/C_wnC0Z...
3       shopeverlore  [{'href': 'https://www.instagram.com/p/C_s_ul1...
4      lizzajenkins_  [{'href': 'https://www.instagram.com/p/C_qJqPE...

In [262]:
val2['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/C_zKAzcNOBJ/',
  'value': 'รฐ\x9f\x91\x8d',
  'timestamp': 1726107411}]

In [263]:
val2['string_list_data'].iloc[0][0]['timestamp']

1726107411

In [264]:
val2['Time of Like'] = [x[0]['timestamp'] for x in df2['string_list_data']]

In [265]:
val2.head()

,title,string_list_data,Time of Like
0,oco.maryjane,[{'href': 'https://www.instagram.com/p/C_zKAzc...,1726107411
1,vivgwinn,[{'href': 'https://www.instagram.com/p/C_wfvI2...,1726107383
2,estella.woodworth,[{'href': 'https://www.instagram.com/p/C_wnC0Z...,1726107357
3,shopeverlore,[{'href': 'https://www.instagram.com/p/C_s_ul1...,1725909425
4,lizzajenkins_,[{'href': 'https://www.instagram.com/p/C_qJqPE...,1725857595

In [266]:
val2.groupby('title').count().\
sort_values('title', ascending = False)

                        string_list_data  Time of Like
title
zetsuya.ph                             1             1
zehngli                                1             1
yoselin.banuelos                       5             5
xctf.runners                           1             1
world_record_egg                       1             1
...                                  ...           ...
____everett____7                      24            24
__.lovepink.__                         1             1
_.p.e.y.t.o.n                          1             1
9gag                                   1             1
4h_is_life_frankey5236                 2             2

[404 rows x 2 columns]

## My Hypothesis:
### The quantity of my comments ties directly into which account it's linked to.

Theoretical: I comment more on certain posts based on who owns the account.

Statistical: My top two friends on instagram (Estella and Paige) will have the majority of my total number of comments I have ever left. 

##### I believe the JSON file that will help me test my hypothesis will be the "post_comments_1" file that is in my "your_instagram_activity" folder.

In [267]:
path = r"C:\Users\lgerk\Downloads\instagram-leah.gerke-2024-09-12-coLtGm0R\your_instagram_activity\comments\post_comments_1.json"
with open(path) as j:
    cmts = json.load(j)

In [268]:
dfc = pd.DataFrame(cmts)

In [269]:
cmts.keys()

AttributeError: 'list' object has no attribute 'keys'

In [270]:
type(cmts)

list

_I attempted to display a list of the keys in my cmts dictionary but it seems that "cmts" is a list and therfore my dictionary method does not work on it._

In [271]:
cmts[0]

{'media_list_data': [{'uri': ''}],
 'string_map_data': {'Comment': {'value': 'The cutest'},
  'Media Owner': {'value': 'estella.woodworth'},
  'Time': {'timestamp': 1726107369}}}

_I then attempted to see what is in the list to see if I could use the content in it._

In [278]:
cmts[{'string_map_data'}] = ['Sender is: '+x for x in cmts[{'string_map_data'}]]
cmts.head()

TypeError: list indices must be integers or slices, not set

_Unfortunately I still am an unsure how to isolate the content in the list the same way I would a dictionary._

In [279]:
dfc.head(10)

  media_list_data                                    string_map_data
0   [{'uri': ''}]  {'Comment': {'value': 'The cutest'}, 'Media Ow...
1   [{'uri': ''}]  {'Comment': {'value': 'So pretty Jewli'}, 'Med...
2   [{'uri': ''}]  {'Comment': {'value': 'So studious รฐยยย'}, 'Me...
3   [{'uri': ''}]  {'Comment': {'value': 'This is so awesome'}, '...
4   [{'uri': ''}]  {'Comment': {'value': 'So fun so cute'}, 'Medi...
5   [{'uri': ''}]  {'Comment': {'value': 'You are actually the cu...
6   [{'uri': ''}]  {'Comment': {'value': 'Youรขยยre the coolest pe...
7   [{'uri': ''}]  {'Comment': {'value': 'Love'}, 'Media Owner': ...
8   [{'uri': ''}]  {'Comment': {'value': 'Gorgeous girl'}, 'Media...
9   [{'uri': ''}]  {'Comment': {'value': 'Youรขยยre actually the p...

_After my cmts did not work, I wanted to see if my dataframe would display anything similar so I used .head() to view the data in it._

_I also wanted to showcase how I would display the first 10 rows of the data by instering 10 in the parantheses of .head()._

In [280]:
dfc['string_map_data'].iloc[0]

{'Comment': {'value': 'The cutest'},
 'Media Owner': {'value': 'estella.woodworth'},
 'Time': {'timestamp': 1726107369}}

_I then wanted to isolate the first row of the data so I used .iloc[0]._

In [281]:
dfc['string_map_data'].iloc[0]['Media Owner']

{'value': 'estella.woodworth'}

_I did this next step to try to drive specifically the "Media Owner" content out, and I got what I was looking for in that it showed what user account I commented on for the first row of the data._

In [282]:
dfc['User Account'] = [x['Media Owner'] for x in dfc['string_map_data']]

KeyError: 'Media Owner'

_After that, I wanted to display the all of "Media Owner" content in the "string_map_data", but it seems that it is not included in that data.
I am not exactly sure now how to get the outcome I want, but I tried many different ways that all resulted in some type of error._

In [283]:
dfc.groupby('User Account').count().\
sort_values('Media Owner', ascending = False)

KeyError: 'User Account'

_If my previous code had worked, I would have attempted to group and organize whatever data is showcased by the ammount of comments I had left on each user account. The code would look similar to what is displayed above but I would know more how to do it if any of my previous code had worked._

In [284]:
import matplotlib as plt

In [285]:
dfc.groupby('User Account').count().\
sort_values('Media Owner', ascending = False)['Media Owner'].plot(kind = 'bar')

KeyError: 'User Account'

_And similar to the code previous, I would know the specifics on how to organize it based on if my code had worked. I would have wanted to further tidy/organize my data by displaying it as a bar graph where the User Account names would be on the bottom and the number of comments I have left on their account would be on the side._

## In a Markdown cell, describe what you think the data in the DataFrame represents, whether the DataFrame meets tidy principles, and whether the data can be used to test your hypothesis.
Even though I was not able to see the data, I still believe that my hypothesis would have been correct in that Estella and Paige, who are my real life friends, would have been the two accounts I have left the most comments on.

The bar graph would have, hopefully, indicated that Estella and Paige received the most comments out of all the other accounts I have left comments on which would have showcased that my hypothesis was correct.

## Conclusions

I am fairly disappointed that I could not figure out how to isolate the exact data I wanted, but I hope my markdown comments provided enough explanation on what I attempted to do and I was hopefully using the right methods even though they did not apply to my particular data. 

I did use almost every in-class notebook on hand to help me write and understand my code. I also sought out chatgpt to help me understand the errors, but I did not actually use any of the information provided by it in my actual code, only to understand why my methods may not have been working. After that, I emailed my professor to get recommendations and suggestions. 

I maybe should have used a different data set so I could really see if my methods were correct, but by the time I really understood that it was probably not going to work, it was too late to rewrite my entire hypothesis. Hopefully in the future I will be able to solve my issues.